* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(6, 6, 65);
}
button {
  background-color: transparent;
  padding: 15px 45px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: all 0.3;
  position: relative;
  overflow: hidden;
}
.button-real {
  position: absolute;
  top: 3px;
  right: 3px;
  left: 3px;
  bottom: 3px;
  background-color: rgb(6, 6, 65);
  display: flex;
  align-items: center;
  justify-content: center;
}
.animation {
  position: absolute;
  right: 40px;
  left: 40px;
  top: -100px;
  bottom: -100px;
  background-color: #ff22bb;
  animation-name: around;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes around {
  to {
    transform: rotate(360deg);
  }
}
button:hover {
  background-color: #ff22bb;
  box-shadow: 0px 0px 50px 20px #ff22bb;
}
